<div class="card bg-base-100 shadow-sm animate-fade-in">
    <a [routerLink]="['/product', product().id]">
        <figure>
            <img [src]="product().imagen_url || 'https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp'"
                [alt]="product().nombre" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">
                {{ product().nombre }}
                @if (product().precio_base) {
                <div class="badge badge-secondary">{{ product().precio_base | currency:'EUR' }}</div>
                }
            </h2>
            <p>{{ product().descripcion || 'Sin descripción' }}</p>
            @if (product().categoria) {
            <div class="card-actions justify-end">
                <div class="badge badge-outline">{{ product().categoria }}</div>
            </div>
            }
        </div>
    </a>
</div>