@import "tailwindcss";

@plugin "daisyui" {
    themes: light, dark, bumblebee --default;
}

@layer base {
    @font-face {
        font-family: "Montserrat";
        src: url('../public/assets/fonts/Montserrat-Medium.ttf') format('truetype');
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-sans: "Montserrat", sans-serif;
    --animate-fade-in: fadeIn 0.3s ease-in-out;
}